html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
	color: black;
	font-size: 1.8rem; /* 18 px */
	font-family: "Josefin Sans", sans-serif;
	z-index: 1;
	display: grid;
	grid-area: main;
	grid-template-columns: 2fr 3fr 2fr;
	grid-template-rows: 0.1fr 3fr 0.1fr;
	gap: 1px 1px;
}

ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 62.5%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 100;
}

.imgFrame {
	width: 100%;
}

.imgFrame__img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	width: 100%;
}

h1 {
	font-size: 2.5em;
}

.header__h1 {
	font-size: 3.6rem;
}

.oldTV {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 10;
}

.container {
	margin-top: 2rem;
	grid-row: 2;
	grid-column: 2;
	row-gap: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-self: center;
	z-index: 0;
	width: 80%;
	text-align: justify;
	text-justify: inter-word;
}

.grain {
	top: 50%;
	left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
	height: 90%;
	width: 50%;
}
.TVisOff {
	top: 50%;
	left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
	height: 100%;
	width: 100%;
	background-color: black;
	z-index: 1;
	animation: turnTVon 5s;
	animation-iteration-count: 1;
	opacity: 0;
}

@keyframes turnTVon {
	from {
		scale: 0;
		opacity: 1;
	}
	to {
		scale: 1;
		height: 0;
	}
}
section {
	margin: 2% 0;
}

.imgFrame {
	width: 100%;
}

.sectionForm {
	display: flex;
	flex-direction: column;
}

/* FORM STYLING */
form {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: auto;
	padding: 20px;
}
form label {
	color: #525250;
	letter-spacing: 2px;
	text-transform: uppercase;
	top: 4px;
}
form ul li {
	padding-top: 10px;
	clear: both;
	overflow: hidden;
}
form select,
form input {
	float: right;
}
.sectionForm__item {
	margin: 5px;
}

form input {
	border: none;
	border-bottom: 1px dashed #989895;
	color: #4f4f4f;
	position: relative;
	letter-spacing: 1px;
	margin-left: 10px;
}

form input:focus {
	border-bottom: 1px dashed #000;
	-webkit-transition: border 0.3s ease-in;
	-moz-transition: border 0.3s ease-in;
	-o-transition: border 0.3s ease-in;
	transition: border 0.3s ease-in;
}

@media (max-width: 1000px) {
	.header {
		margin-bottom: 2rem;
	}

	.sectionform {
		margin-bottom: 5rem;
	}

	.oldTV {
		width: 174%;
		transform: translateX(-21%);
	}

	.grain {
		width: 100%;
	}

	.container {
		width: 150%;
	}
}

/* ButtonList styling */
.buttonList {
	width: 100%;
	list-style-type: none;
	margin-top: 4em;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	gap: 2em;
}

.buttonList-item {
	--c: #525250;
	color: var(--c);
	font-size: 16px;
	border: 0.3em solid var(--c);
	border-radius: 0.5em;
	width: 10em;
	text-transform: uppercase;
	font-weight: bold;
	font-family: sans-serif;
	letter-spacing: 0.1em;
	text-align: center;
	top: 2rem;
	left: 2rem;
	z-index: 101;
	transition: 0.5s;
	margin: 1em;
}

.buttonList-item:hover {
	cursor: pointer;
	color: #000;
}

@media (max-width: 450px) {
	.container {
		width: 100%;
	}

	html {
		font-size: 45%;
	}

	h1 {
		font-size: 3.5rem;
	}
	section {
		margin: 2rem 0;
	}
}
